section {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;

    img {
        margin-left: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        width: 700px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        list-style: none;
        font-family: Barlow Condensed;
        color: var(--white);
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        height: 75px;

        li {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.logo {
    width: 40px;
    height: 40px;
}

.hamburger {
    width: 24px;
    height: 21px;
}