@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

:root {
  --blue-gray: #D0D6F9;
  --white: #FFF;
  --black: #0B0D17;
  --mobile: '767px';
  --tablet: '1023px';
  --desktop: '1280px';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: pink;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
