.main {
  color: var(--white);
  min-height: 100vh;
  background: url('/assets/home/background-home-mobile.jpg'), lightgray 0px 0px / 100% 100% no-repeat;
  mix-blend-mode: screen;
  background-size: cover;

  @media (min-width: 1280px) {
    background: url('/assets/home/background-home-desktop.jpg'), lightgray 0px 0px / 100% 100% no-repeat;
    mix-blend-mode: screen;
    background-size: cover;
  }
}

.mainContainer {
  padding: 40px;
  text-align: center;
  color: var(--blue-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  margin-top: 60px;

  @media (min-width: 1280px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 1280px) {
    width: 445px;
    height: 382px;
    justify-content: flex-end;  
  }
}

.littleText {
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.7px;

  @media (min-width: 1280px) {
    font-size: 28px;
  }
}

.bigText {
  color: var(--white);
  font-family: Bellefair;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px; /* 125% */

  @media (min-width: 1280px) {
    font-size: 150px;
    margin-top: 24px;
  }
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  font-family: Barlow;
  margin-top: 20px;
}

.button {
  border-radius: 100%;
  font-family: Bellefair;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background-color: var(--white);
  color: var(--black);
  border: none;
  cursor: pointer;
  margin-top: 90px;
}