.container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 24px 0 24px;

    @media (min-width: 1280px) {
        padding: 44px 55px 0 55px;
    }
}

.image {
    width: 40px;
    height: 40px;
}

.hamburger {
    width: 24px;
    height: 21px;
}